.vscode/
.idea/
.eclipse/
*.launch
*.classpath
*.project
.settings/
nbproject/
nb-configuration.xml

*.class
target/
target/classes/
target/generated-sources/
target/generated-test-sources/
target/maven-archiver/
target/maven-status/
target/test-classes/

README_FIRST.md
original-ProjectPlanner.jar
dist/
